/**
 * @author  Johnson Zhou (johnson@simplyuseful.io)
 */ 
/* :::::: settables :::::: */
$cm-line-spacing: 0.15em;

/* :::::: styles :::::: */
.CodeMirror {
  &-selected {
    background: var(--sn-selection-background) !important;
  }

  &-selectedtext {
    .cm-variable & {
      color: var(--sn-stylekit-info-color) !important;
    }
  }

  &-gutters {
    border-right: 0;
  }

  &-gutter-wrapper {
    top: 50%;
    transform: translateY(-50%);
  }

  & &-linenumber {
    font-size: 0.8em;
    text-align: left;
    transform: translateY(-50%);
  }

  & pre#{&}-line { 
    padding-top: $cm-line-spacing;
    padding-bottom: $cm-line-spacing;
  }
}

.cm-s-default {
  .cm-keyword { color: var(--sn-cm-mono-standard); }
  .cm-atom { color: var(--sn-cm-mono-standard); }
  .cm-number { color: var(--sn-cm-mono-dimmer); }
  .cm-def { color: var(--sn-cm-mono-standard); font-weight: bold; }
  .cm-punctuation { color: var(--sn-cm-mono-standard); }
  .cm-property { color: var(--sn-cm-mono-standard); font-weight: bold;}
  .cm-operator { color: var(--sn-cm-mono-standard); }
  .cm-variable { color: var(--sn-cm-mono-dimmer) !important; }
  .cm-variable-2 { color: var(--sn-cm-mono-dimmer); }
  .cm-variable-3 { color: var(--sn-cm-mono-dimmer); }
  .cm-type { color: var(--sn-cm-mono-standard); }
  .cm-comment { color: var(--sn-cm-mono-dimmest); }
  .cm-string { color: var(--sn-cm-mono-dimmer); }
  .cm-string-2 { color: var(--sn-cm-mono-dimmer); }
  .cm-meta { color: var(--sn-cm-mono-dimmer); }
  .cm-qualifier {  color: var(--sn-cm-mono-standard); }
  .cm-builtin { color: var(--sn-cm-mono-standard); }
  .cm-bracket { color: var(--sn-cm-mono-standard); }
  .cm-tag { color: var(--sn-cm-mono-standard); }
  .cm-attribute { color: var(--sn-cm-mono-standard); }
  .cm-hr { color: var(--sn-cm-mono-dimmest); }
  .cm-link { color: var(--sn-cm-mono-dimmer); }
  .cm-error { color: var(--sn-stylekit-danger-color); }
}