/**
 * @author  Johnson Zhou (johnson@simplyuseful.io)
 */ 
@mixin grid-view() {
  display: grid;
  grid-template-columns: 
    [side] $notes-width 
    [main] minmax($editor-width, auto);
  grid-template-rows: 
    [main] minmax(30%, 100%) 
    [tags] minmax(min-content, max-content);
}

@mixin navigation-grid-pos() {
  grid-column: side;
  grid-row: tags;
}

@mixin notes-grid-pos() {
  grid-column: side;
  grid-row: main;
}

@mixin editor-grid-pos() {
  grid-column: main;
  grid-row: main / span 2;
}