/**
 * @author  Johnson Zhou (johnson@simplyuseful.io)
 */ 

@import './responsive.scss';
@import './grid-view.scss';

::selection {
  background: var(--sn-selection-background) !important;
  color: inherit !important;
}

html::-webkit-scrollbar {
  display: none;
}

.windows-web, .windows-desktop, .linux-web, .linux-desktop{
  & ::-webkit-scrollbar-thumb {
    border: 2px solid rgba(0,0,0,0);
  }

  & ::-webkit-scrollbar {
    width: var(--sn-scrollbar-width);
  }
}

.panel-resizer {
  display: none;
}

#app {

  #navigation {
    $full-width: $navigation-width;
    width: $full-width !important;
  
    #navigation-content {
    
      .tag {
        width: calc($full-width - 12px);
        position: relative;
        border: 0;
        border-radius: 24px;
        transition: all 0.1s ease;
        margin: 0 auto;
    
        & > .tag-info {
          & > .tag-icon {
            display: none;
          }
        }
      }
    }
  }
  
  #notes-column {
    $full-width: $notes-width;

    width: $notes-width !important;
  
    .content {
      .note {
        position: relative;
        min-width: $full-width;

        .icon {
          display: none;
        }

        .meta {
          padding: 0.8rem;
        }
      }
    }
  }
  
  #editor-column {
    min-width: $editor-width;
  }

  @include responsive-two-columns() {

    @include grid-view();
    
    #navigation {
      @include navigation-grid-pos();
      transition: height 0.1s ease;
      height: 10vh;
      width: 100% !important;
      border: solid 1px var(--sn-stylekit-border-color);

      .mac-desktop & {
        padding-top: 0px !important; //macos button space
      }
      
      #navigation-content {
        .tag {
          width: auto;
        }

        .scrollable {
          section:nth-of-type(2) {
            display: flex;
            flex-flow: row wrap;

            .section-title-bar {
              width: 100%;
            }

            .tag {
              width: calc(50% - 1em);
            }
          }
        }
      }

      &:hover {
        height: 50vh;
      }
    }

    #notes-column {
      $title-bar-bg: var(--sn-stylekit-secondary-background-color);
      $search-bar-bg: var(--sn-stylekit-background-color);
      $search-bar-border-color: var(--sn-stylekit-border-color);

      @include notes-grid-pos();
      background-color: $title-bar-bg;

      .content {

        #notes-title-bar {
          background-color: $title-bar-bg;

          .mac-desktop & {
            padding-top: 25px !important; // macos buttons
          }
        }

        input#search-bar {
          background-color: $search-bar-bg;
          border-color: $search-bar-border-color;
          border-width: 1px;
        }
      }

    }

    #editor-column {
      @include editor-grid-pos();
    }
  }

}