/**
 * @author  Johnson Zhou (johnson@simplyuseful.io)
 */ 
$navigation-width: 180px;
$notes-width: 350px;
$editor-width: 600px;

@mixin responsive-two-columns {
  @media (max-width: calc($navigation-width + $notes-width + $editor-width)) { 
    @content; 
  }
}