/**
 * @author  Johnson Zhou (johnson@simplyuseful.io)
 */ 

:root {

  /* supports both light and dark color schemes */
  color-scheme: light dark; 

  /* standard notes styles */

  --sn-stylekit-white: #ffffff;
  --sn-stylekit-black: #19191c;
  --sn-stylekit-grey-1: #72767e;
  --sn-stylekit-grey-2: #AEB0B5;
  --sn-stylekit-grey-3: #dfe1e4;
  --sn-stylekit-grey-4: #eeeff1;
  --sn-stylekit-grey-5: #f4f5f7;
  --sn-stylekit-grey-6: #e5e5e5;
  --sn-stylekit-dark-red: #cc2128;
  --sn-stylekit-neutral-color: #989898;
  --sn-stylekit-neutral-contrast-color: #ffffff;
  --sn-stylekit-info-color: #086dd6;
  --sn-stylekit-info-color-darkened: #065cb5;
  --sn-stylekit-info-contrast-color: #ffffff;
  --sn-stylekit-info-backdrop-color: #2b6fcf0f;
  --sn-stylekit-success-color: #2b9612;
  --sn-stylekit-success-contrast-color: #ffffff;
  --sn-stylekit-warning-color: #f6a200;
  --sn-stylekit-warning-contrast-color: #ffffff;
  --sn-stylekit-danger-color: #f80324;
  --sn-stylekit-danger-contrast-color: #ffffff;
  --sn-stylekit-shadow-color: #c8c8c8;
  --sn-stylekit-background-color: #ffffff;
  --sn-stylekit-border-color: var(--sn-stylekit-grey-3);
  --sn-stylekit-foreground-color: #000000;
  --sn-stylekit-contrast-background-color: #f6f6f6;
  --sn-stylekit-contrast-foreground-color: #2e2e2e;
  --sn-stylekit-contrast-border-color: #e3e3e3;
  --sn-stylekit-secondary-background-color: #f6f6f6;
  --sn-stylekit-secondary-foreground-color: #2e2e2e;
  --sn-stylekit-secondary-border-color: #e3e3e3;
  --sn-stylekit-secondary-contrast-background-color: #e3e3e3;
  --sn-stylekit-secondary-contrast-foreground-color: #2e2e2e;
  --sn-stylekit-secondary-contrast-border-color: #a2a2a2;
  --sn-stylekit-editor-background-color: var(--sn-stylekit-background-color);
  --sn-stylekit-editor-foreground-color: var(--sn-stylekit-foreground-color);
  --sn-stylekit-paragraph-text-color: #454545;
  --sn-stylekit-input-placeholder-color: #a8a8a8;
  --sn-stylekit-input-border-color: #e3e3e3;
  --sn-stylekit-scrollbar-thumb-color: #dfdfdf;
  --sn-stylekit-scrollbar-track-border-color: #e7e7e7;

  --sn-stylekit-monospace-font: 'JetBrains Mono', 'Operator Mono Lig', 'Fira Code', 
    'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, 'Ubuntu Mono', 
    'Courier New', monospace;

  /* custom formatting */

  --sn-scrollbar-width: 8px;
  --sn-selection-background: #086dd620;

  /* code mirror */ 

  --sn-cm-mono-standard: var(--sn-stylekit-black);
  --sn-cm-mono-dimmer: var(--sn-stylekit-grey-1);
  --sn-cm-mono-dimmest: var(--sn-stylekit-grey-2);

  /* dark mode */

  @media(prefers-color-scheme: dark) {
    --sn-stylekit-background-color: #1f1f22;
    --sn-stylekit-foreground-color: #ffffff;
    --sn-stylekit-contrast-background-color: #2e2e2e;
    --sn-stylekit-contrast-foreground-color: #f6f6f6;
    --sn-stylekit-secondary-background-color: #2e2e2e;
    --sn-stylekit-secondary-foreground-color: #f6f6f6;
    --sn-stylekit-secondary-contrast-background-color: var(--sn-stylekit-grey-1);
    --sn-stylekit-secondary-contrast-foreground-color: #f6f6f6;
    --sn-stylekit-border-color: var(--sn-stylekit-grey-1);
    --sn-stylekit-contrast-border-color: var(--sn-stylekit-grey-1);
    --sn-stylekit-paragraph-text-color: #f6f6f6;
    --sn-stylekit-theme-type:  dark;
    --sn-stylekit-grey-5: #2e2e2e; /* v3.9.15 */
    --sn-stylekit-info-color: #fca429;
    --sn-selection-background: #fca42920;

    --sn-cm-mono-standard: var(--sn-stylekit-white);
    --sn-cm-mono-dimmer: var(--sn-stylekit-grey-3);
    --sn-cm-mono-dimmest: var(--sn-stylekit-grey-1);

    .sn-component .sn-dropdown {
      box-shadow: 
        -1px 4px 24px rgba(100,100,100,0.22), 
        0px 2px 24px rgba(100,100,100,0.14)
      ;
    }
  }
}